/**
 * ----------------------------------------
 * animation slide-out-blurred-top
 * ----------------------------------------
 */

.anim-slide-out-top {
  &:after {
    -webkit-animation: fade-out-bck 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1s;
    animation: fade-out-bck 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1s;
  }
}
@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
